<template>
  <div>login</div>
</template>

<script>
export default {
  name: '',
  components: {},
  data() {
    return {}
  },
  validations: {},
  watch: {},
  computed: {},
  filters: {},
  methods: {},
  created() {}
  // mounted () {},
}
</script>

<style lang="less" scoped>
</style>
